@import 'vars';

*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box; 
    font-family: $paragrafFont;
}
.body{
    height: 100vh;
}
a{
    text-decoration: none;    
    color: #666;  
}
.center{
    padding-left: calc(50% - $widhtSite/2);
    padding-right: calc(50% - $widhtSite/2);
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 53px;
    padding-bottom: 53px;
        &__left{
            @include locСontent;
            @include titleStyle;
            font-size: 34px;   
                &__logo{
                    @include titleStyle;
                    font-size: 40px;
                }   
        }        
        &__right{
            @include locСontent;
            @include paragrafStyle;
            font-size: 25px; 
            gap: 16px;        
        }
}
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 16px;
  
    &__part {
      flex-grow: 1;
      max-width: 300px;
    }
  
    &__part { 
      &__logo {
        @include titleStyle;
        font-size: 40px;
        margin-bottom: 18px;
      }
  
      &__text {
        @include paragrafStyle;
        font-size: 22px;
        margin-bottom: 31px;
      }
  
      &__icons {
        display: flex;
        gap: 54px;
        justify-content: center;
      }

      &__title {
        @include titleStyle;
        font-size: 25px;
        margin-bottom: 18px;
      }
    }
  
    // &__middle {
    //   /* Стили для средней части */
    //   &__title {
    //     @include titleStyle;
    //     font-size: 25px;
    //     margin-bottom: 18px;
    //   }
  
    //   &__text {
    //     @include paragrafStyle;
    //     font-size: 22px;
    //     margin-bottom: 31px;
    //     max-width: 382px;
    //   }
    // }
  
    // &__part {
    //   &__title {
    //     @include titleStyle;
    //     font-size: 25px;
    //     margin-bottom: 18px;
    //   }
  
    //   &__text {
    //     @include paragrafStyle;
    //     font-size: 22px;
    //     max-width: 382px;
    //   }
    // }
  }
  
