@import 'vars';

.top{
         
    height: 758px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 96px;
    
    &__content{
        max-width: 50%;
        padding-left: 58px;
        position: absolute;
        top: 0px;
    
        &__title{
            @include titleStyle;
            font-size: 65px;        
            padding-top: 208px;            
            margin-bottom: 18px;
        }
        &__text{
            @include paragrafText;           
            margin-bottom: 21px;
        }
        &__button{            
            display: flex;            
            padding: 26px 49px 26px 48px;           
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 18px;
            background: #292F36;
            box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
            color: #FFF;
            text-align: center;
            font-family: Jost;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 22.5px */
            letter-spacing: 0.36px;
        }
        &__button:hover{
            cursor: pointer;
        }
    }
}
.projects{
    &__header{
        display: flex;
        align-items: center;
        flex-direction: column;
        //gap: 8px;
        margin-bottom: 93px;
    
        &__title{
            @include titleStyle;
            font-size: 50px
        }
        &__text{
            @include paragrafText;
            max-width: 70%;
            text-align:center;
            
        }
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        display: grid;        
        grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));  
        gap: 104px;
        margin-bottom: 100px;
        
        &__card{
            width: 525px;
            overflow: hidden;
            &__description{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
            }

            &__subtitle{
               @include titleStyle;
               font-size: 25px;
               margin-top: 24px;
            }
            &__text{
            @include paragrafText
            }
            &_1{
                border-radius: 0px 80px 0px 0px;
            }
            &_2{
                border-radius: 80px 0px 0px 0px;
            }
            &_3{
                border-radius: 0px 0px 80px 0px;
            }
            &_4{
                border-radius: 0px 0px 0px 80px;
            }
        }
    }
    
}
.quantity{        
    background-color: $colorMain;
    // height: 457px;
    padding-top: 151px;
    padding-bottom: 200px;
    box-sizing: border-box; 
    margin-bottom: 96px;    
        &__box{
            // display: flex;            
            // justify-content: space-between;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));            
            // max-width: 1080px;
            gap: 75px; 
        }
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
                &__numbers{
                    @include quantityNumber
                }
                &__text{
                    @include quantityText
                }
        }
}    
.news{
    
    &__box{
        text-align: center;
        gap: 12px;
        margin-bottom: 32px;
        &__title{
            @include titleStyle;
            font-size: 50px;
        }
        &__text{
            @include paragrafStyle;
            font-size: 22px;
        }
    }
    &__products{
        display: grid;  
        grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
        gap: 27px;
        margin-left: auto;
        margin-right: auto;
        &__item{
            width: 382px;
            height: 521px;
            padding: 21px;
            box-sizing: border-box;
            border-radius: 62px;
            border: 1px solid #E7E7E7;
            box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
                &__color{
                    background-color: #c73535;
                }
            &__title{
                @include titleStyle;
                font-size: 25px;
                margin-top: 21px;
                margin-bottom: 30px;
            }            
        } 
        &__item:hover{
            background-color: $colorMain;
        } 
        &__option  {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__date{
                @include paragrafStyle;
                font-size: 16px
            }
        }
    }
}


@media screen and (max-width: 1154px){
.center{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
}