@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 53px;
}
.nav__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 34px;
}
.nav__left__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 40px;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 25px;
}

.footer {
  margin-top: 96px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  text-align: center;
  margin-bottom: 134px;
}
.footer__left__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 40px;
  margin-bottom: 18px;
}
.footer__left__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 31px;
  max-width: 382px;
}
.footer__left__icons {
  display: flex;
  gap: 54px;
  justify-content: center;
}
.footer__middle__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-bottom: 18px;
}
.footer__middle__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  max-width: 382px;
  margin-bottom: 31px;
  max-width: 382px;
}
.footer__right__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-bottom: 18px;
}
.footer__right__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 31px;
  max-width: 382px;
  max-width: 382px;
}

.top {
  height: 758px;
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 96px;
}
.top__content {
  max-width: 50%;
  padding-left: 58px;
}
.top__content__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 65px;
  padding-top: 208px;
  margin-bottom: 18px;
}
.top__content__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  margin-bottom: 21px;
}
.top__content__button {
  display: flex;
  padding: 26px 49px 26px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
}
.top__content__button:hover {
  cursor: pointer;
}

.projects__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 93px;
}
.projects__header__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
}
.projects__header__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  max-width: 70%;
  text-align: center;
}
.projects__items {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
  gap: 104px;
  margin-bottom: 100px;
}
.projects__items__card {
  width: 525px;
  overflow: hidden;
}
.projects__items__card__description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.projects__items__card__subtitle {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-top: 24px;
}
.projects__items__card__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.projects__items__card_1 {
  border-radius: 0px 80px 0px 0px;
}
.projects__items__card_2 {
  border-radius: 80px 0px 0px 0px;
}
.projects__items__card_3 {
  border-radius: 0px 0px 80px 0px;
}
.projects__items__card_4 {
  border-radius: 0px 0px 0px 80px;
}

.quantity {
  background-color: #F4F0EC;
  padding-top: 151px;
  padding-bottom: 200px;
  box-sizing: border-box;
  margin-bottom: 96px;
}
.quantity__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 75px;
}
.quantity__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity__item__numbers {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 106.25px */
  letter-spacing: 1.7px;
}
.quantity__item__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.news__box {
  text-align: center;
  gap: 12px;
  margin-bottom: 32px;
}
.news__box__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
}
.news__box__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
}
.news__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  gap: 27px;
  margin-left: auto;
  margin-right: auto;
}
.news__products__item {
  width: 382px;
  height: 521px;
  padding: 21px;
  box-sizing: border-box;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.news__products__item__color {
  background-color: #c73535;
}
.news__products__item__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-top: 21px;
  margin-bottom: 30px;
}
.news__products__item:hover {
  background-color: #F4F0EC;
}
.news__products__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__products__option__date {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 16px;
}

@media screen and (max-width: 1154px) {
  .center {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
.topHead {
  height: 356px;
  background-image: url(img/Image_laceholder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 90px;
}
.topHead__block {
  width: 503px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 37px 37px 0px 0px;
  padding-top: 41px;
  padding-bottom: 41px;
}
.topHead__block__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
}
.topHead__block__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
}

.info {
  margin-bottom: 156px;
}
.info__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
  margin-bottom: 27px;
}
.info__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  gap: 65px;
  width: auto;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 22px;
}
.info__block img {
  width: -webkit-fill-available;
}
.info__block__content__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 22px;
}
.info__block__content__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 41px;
}
.info__block__content__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__box {
  text-align: center;
  gap: 12px;
  margin-bottom: 32px;
}
.news__box__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
}
.news__box__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
}
.news__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  gap: 27px;
  margin-left: auto;
  margin-right: auto;
}
.news__products__item {
  width: 382px;
  height: 521px;
  padding: 21px;
  box-sizing: border-box;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.news__products__item__color {
  background-color: #c73535;
}
.news__products__item__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-top: 21px;
  margin-bottom: 30px;
}
.news__products__item:hover {
  background-color: #F4F0EC;
}
.news__products__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__products__option__date {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 53px;
}
.nav__left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 34px;
}
.nav__left__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 40px;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 25px;
}

.footer {
  margin-top: 96px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  text-align: center;
  margin-bottom: 134px;
}
.footer__left__logo {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 40px;
  margin-bottom: 18px;
}
.footer__left__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 31px;
  max-width: 382px;
}
.footer__left__icons {
  display: flex;
  gap: 54px;
  justify-content: center;
}
.footer__middle__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-bottom: 18px;
}
.footer__middle__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  max-width: 382px;
  margin-bottom: 31px;
  max-width: 382px;
}
.footer__right__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-bottom: 18px;
}
.footer__right__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 31px;
  max-width: 382px;
  max-width: 382px;
}

.top__img {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.articles__block__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 50px;
  margin-bottom: 11px;
}
.articles__block__date {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-top: 46px;
  margin-bottom: 48px;
}
.articles__block__text {
  color: #4D5053;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  font-size: 22px;
  margin-bottom: 15px;
}
.articles__tag {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.articles__tag__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 25px;
  margin-bottom: 11px;
}
.articles__tag__button {
  border-radius: 10px;
  background: #F4F0EC;
  display: flex;
  padding: 9px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.articles__tag__button:hover {
  background: #292F36;
  color: white;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */